DATABASE_URL="postgresql://username:password@localhost:5432/openathlete?schema=public"
JWT_SECRET_KEY=your_secret_key
HASH_PEPPER=your_pepper
NODE_ENV=development

APP_URL=http://localhost:5173

STRAVA_CLIENT_ID=your_client_id
STRAVA_CLIENT_SECRET=your_client_secret
STRAVA_REDIRECT_URI=http://localhost:5173/auth/callback/strava
STRAVA_WEBHOOK_TOKEN=your_webhook_token

BREVO_API_KEY=your_brevo_api_key
BREVO_FROM_EMAIL=noreply@openathlete.org

NOTION_TOKEN="secret_..."
NOTION_DATABASE_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"